p {
    max-width: 1024px;
}
.chart-container {
    display: flex;
    flex-direction: row;
}
.chart {
    width: 800px;
    height: 300px;
}
.series-name {
    font-weight: bold;
}
.examples {
    position: relative;
    margin-top: 1em;
    width: 1024px;
}
.examples ul {
    max-height: 400px;
    overflow: auto;
    font-family: monospace;
    white-space: nowrap;
}
.example-header {
    font-weight: bold;
}
.close-example {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.close-example:hover {
    cursor: pointer;
}

/*
Source - https://stackoverflow.com/a/52058198
Posted by András Aszódi, modified by community. See post 'Timeline' for change history
Retrieved 2026-04-14, License - CC BY-SA 4.0
*/

.example-explanation a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
